#ignoring .vscode folder but we keep some files for debuging
/.vscode/chrome
/.vs/

.env
*.env
server/.env

amazon-cloudwatch-agent-config.json

package-lock.json
.DS_Store

client/build/
mobile/build/

# Code Coverage Folder
coverage/

#Node Modules
/node_modules

dist/
tmp/
app/**/*.js
app/**/*.js.map

# dependencies
bower_components/

# IDEs and editors
.idea/
.cursorrules

# misc
.sass-cache/
connect.lock/
libpeerconnection.log/
npm-debug.log
testem.log
typings/
.angular/

# e2e
e2e/*.js
e2e/*.map

#IA cursor
.cursorrules