#ignoring .vscode folder but we keep some files for debuging
/.vscode/chrome
/.vs/

.env
*.env
server/.env

package-lock.json
.DS_Store

# Code Coverage Folder
coverage/

#Node Modules
/node_modules

dist/
tmp/
app/**/*.js
app/**/*.js.map

# dependencies
bower_components/

# IDEs and editors
.idea/

# misc
.sass-cache/
connect.lock/
libpeerconnection.log/
npm-debug.log
testem.log
typings/
.angular/

# e2e
e2e/*.js
e2e/*.map
