<div
    class="chat-container"
    [class.retracted]="isChatRetracted"
    [class.waiting-room-chat]="isWaitingRoom"
    [class.game-page-chat]="isGamePage"
    [class.endgame-chat]="isEndGame"
>
    @if (isWaitingRoom) {
    <div class="chat-header" (click)="toggleChat()">
        <strong>Clavardage</strong>
        <span class="toggle-icon">
            <i [ngClass]="isChatRetracted ? 'fas fa-comments' : 'fas fa-comment-dots'"></i>
        </span>
    </div>
    } @if (!isChatRetracted) {
    <section class="chat-section">
        <strong class="player-name">{{ playerName }}</strong>
        <div id="messageArea" class="message-area">
            <ul id="messageList">
                @for (message of messages; track message) {
                <li class="message-item">
                    @if (message.author) {
                    <div class="message-content">
                        <div class="message-header">
                            <span class="author">{{ message.author }}</span>
                            <span class="timestamp">{{ message.timestamp | date: 'HH:mm:ss' }}</span>
                        </div>
                        <div class="message-text">{{ message.text }}</div>
                    </div>
                    }
                </li>
                }
            </ul>
        </div>

        <div class="input-container">
            <input
                id="messageInput"
                placeholder="Votre message"
                [(ngModel)]="messageText"
                (keydown.enter)="sendMessage()"
                maxlength="200"
                type="text"
            />
            <div class="send-message-button" (click)="sendMessage()"><img src="assets/icons/arrow.png" alt="Trophée" class="icon" /></div>
        </div>
    </section>
    }
</div>
