<div class="homePage-container">
    <img class="game-logo" src="./assets/mainmenu/SteamSteel.png" alt="game-logo" />

    @if(isJoinGameModalVisible) {
    <div class="modal-overlay">
        <div class="modal">
            <span class="close-button" (click)="onCloseModal()">×</span>
            <app-join-game-modal></app-join-game-modal>
        </div>
    </div>
    }

    <div class="button-section">
        <ng-container *ngIf="!isLoggedIn">
            <button class="button" (click)="toggleAuthModal()">Inscription</button>
        </ng-container>
        <ng-container *ngIf="isLoggedIn">
            <button class="create-game-button" (click)="toggleJoinGameVisibility()">Rejoindre une partie</button>
            <button class="button" (click)="navigateToCreateGame()">Commencer une nouvelle partie</button>
            <button class="button" (click)="navigateToAdmin()">Administration des jeux</button>
            <button class="button" (click)="toggleAccountModal()">Mon Compte</button>
        </ng-container>
    </div>

    <ng-container *ngIf="isAuthModalVisible">
        <div class="modal-overlay">
            <div class="modal">
                <button type="button" class="close-button" aria-label="Close" (click)="onCloseAuthModal()">×</button>
                <app-authentication (closed)="onCloseAuthModal()"></app-authentication>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="isAccountModalVisible">
        <div class="modal-overlay">
            <div class="modal">
                <button type="button" class="close-button" aria-label="Close" (click)="onCloseAuthModal()">×</button>
                <app-account (closed)="onCloseAccountModal()"></app-account>
            </div>
        </div>
    </ng-container>
    <footer class="footer-item">
        <h4 class="team-number">{{ teamNumber }}</h4>
        <p class="developers">{{ developers.join(', ') }}</p>
    </footer>
</div>
