body {
    background-color: #565656; /* Worn Steel for the entire background */
    color: #d9a760; /* Brass text color */
}

button {
    background-color: #8b4513; /* Leather Brown */
    color: #d4af37; /* Burnished Gold */
    border: 2px solid #d9a760; /* Brass border */
}
.toggle-theme-btn {
    position:fixed; 
    top:12px; 
    right:62px; 
    z-index:1200;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c3e50;
    border: 3px solid #202020;
    color: #c0c0c0;
    cursor: pointer;
}
