<div class="endgame-container">
    <div class="stats-container">
        <h1>Fin de partie</h1>
        <table id="stats-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Nom</th>
                    <th (click)="endgameService.sortCombats()">
                        Combats <span>{{ endgameService.isCombatSortingAsc ? '↓' : '↑' }}</span>
                    </th>
                    <th (click)="endgameService.sortEvasions()">
                        Évasions <span>{{ endgameService.isEvasionSortingAsc ? '↓' : '↑' }}</span>
                    </th>
                    <th (click)="endgameService.sortVictories()">
                        Victoires <span>{{ endgameService.isVictoriesSortingAsc ? '↓' : '↑' }}</span>
                    </th>
                    <th (click)="endgameService.sortDefeats()">
                        Défaites <span>{{ endgameService.isDefeatsSortingAsc ? '↓' : '↑' }}</span>
                    </th>
                    <th (click)="endgameService.sortLostLife()">
                        Vie perdue <span>{{ endgameService.isLostLifeSortingAsc ? '↓' : '↑' }}</span>
                    </th>
                    <th (click)="endgameService.sortStolenLife()">
                        Vie infligée <span>{{ endgameService.isStolenLifeSortingAsc ? '↓' : '↑' }}</span>
                    </th>
                    <th (click)="endgameService.sortObjects()">
                        Objets ramassés <span>{{ endgameService.isObjectsSortingAsc ? '↓' : '↑' }}</span>
                    </th>
                    <th (click)="endgameService.sortVisitedTiles()">
                        Tuiles visitées <span>{{ endgameService.isTilesSortingAsc ? '↓' : '↑' }}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (gamePlayer of players; track gamePlayer.socketId) {
                <tr>
                    <td><img [src]="getAvatarPreview(gamePlayer.avatar)" class="player-avatar" alt="avatar" /></td>
                    <td>{{ gamePlayer.name }}</td>
                    <td>{{ gamePlayer.specs.nCombats }}</td>
                    <td>{{ gamePlayer.specs.nEvasions }}</td>
                    <td>{{ gamePlayer.specs.nVictories }}</td>
                    <td>{{ gamePlayer.specs.nDefeats }}</td>
                    <td>{{ gamePlayer.specs.nLifeLost }}</td>
                    <td>{{ gamePlayer.specs.nLifeTaken }}</td>
                    <td>{{ gamePlayer.specs.nItemsUsed }}</td>
                    <td>{{ endgameService.getPlayerTilePercentage(gamePlayer, game) }}%</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <button class="chat-toggle-button" aria-label="Toggle global chat" (click)="isChatVisible = !isChatVisible">
            <i class="fas fa-comments" aria-hidden="true"></i>
        </button>
        @if (isChatVisible) {
        <div class="global-chat-wrapper">
            <app-chatroom [gameId]="this.game.id" [isInGame]="true" (closed)="isChatVisible = false"></app-chatroom>
        </div>
        }
    <div class="global-stats-container">
        <h1>Statistiques globales de la partie</h1>
        <p>Durée de la partie : {{ endgameService.gameDurationInMinutes(game.duration) }}</p>
        <p>Tours de jeu : {{ game.nTurns }}</p>
        <p>Pourcentage total de tuiles visitées : {{ endgameService.gameTilePercentage(game) }}%</p>
        <p>Pourcentage total des portes manipulées : {{ endgameService.gameDoorPercentage(game) }}%</p>
        @if (isGameCtf(game)) {
        <p>Nombre de joueurs différents ayant détenu le drapeau : {{ endgameService.getFlagPickupPlayers(game) }}</p>
        }
    </div>
    <div class="exit-button-container">
        <button (click)="navigateToMain()">Menu principal</button>
    </div>
</div>
