<div *ngIf="userInfo" class="account-card">
    <h2>Mon Compte</h2>
    <ng-container *ngIf="!editMode; else editForm">
        <div class="account-main-row">
            <div class="avatar-square">
                <img
                    *ngIf="userInfo.user.avatarCustom; else defaultAvatar"
                    [src]="userInfo.user.avatarCustom"
                    alt="Avatar personnalisé"
                    class="avatar-img-square"
                />
                <ng-template #defaultAvatar>
                    <img [src]="getAvatarPreview(userInfo.user.avatar)" alt="Avatar" class="avatar-img-square" />
                </ng-template>
            </div>
            <div class="info-side">
                <div class="info-row">
                    <b>Email: </b> <span>{{ userInfo.user.email }}</span>
                </div>
                <div class="info-row">
                    <b>Pseudonyme: </b> <span>{{ userInfo.user.username }}</span>
                </div>
            </div>
        </div>
        <div class="button-row">
            <button class="button modify-button" (click)="enableEdit()">Modifier</button>
            <button class="button delete-button" (click)="deleteAccount()">Supprimer le compte</button>
        </div>
    </ng-container>
    <ng-template #editForm>
        <p><b>Email :</b> <input [(ngModel)]="editEmail" /></p>
        <p><b>Pseudonyme :</b> <input [(ngModel)]="editUsername" /></p>
        <div class="avatar-selection">
            <label>Choisissez un avatar :</label>
            <app-profile-picture
                [selectedAvatar]="editAvatar"
                [customAvatarPreview]="editCustomAvatarPreview"
                (selectedAvatarChange)="editAvatar = $event"
                (customAvatarPreviewChange)="editCustomAvatarPreview = $event"
            ></app-profile-picture>
        </div>
        <div class="edit-message">{{ editMessage }}</div>
        <div class="button-row">
            <button class="button" (click)="saveEdit()">Enregistrer</button>
            <button class="button" (click)="cancelEdit()">Annuler</button>
        </div>
    </ng-template>
    <div *ngIf="userInfo?.user?.stats && !editMode">
        <h3>Statistiques</h3>
        <p><b>Classique :</b> {{ userInfo.user.stats.classique.gamesPlayed }} parties jouées, {{ userInfo.user.stats.classique.gamesWon }} gagnées</p>
        <p><b>CTF :</b> {{ userInfo.user.stats.ctf.gamesPlayed }} parties jouées, {{ userInfo.user.stats.ctf.gamesWon }} gagnées</p>
        <p><b>Temps moyen par partie :</b> {{ formatAvgTime(userInfo.user.stats.avgTime) }}</p>
    </div>
</div>
