<div class="game-options-modal-container">
    <button class="close-button" (click)="onClose()">X</button>
    <p class="modal-title">Options de jeu</p>
    <p class="map-name">Carte: {{ selectedMapName }}</p>

    <div class="options-section">
        <div class="option-item" (click)="toggleFastElimination()">
            <div class="checkbox-container">
                <input type="checkbox" id="fastElimination" [(ngModel)]="isFastElimination" class="custom-checkbox" />
                <label for="fastElimination" class="checkbox-label"> Mode d'élimination rapide </label>
            </div>
            <p class="option-description">
                Les joueurs éliminés en combat passent en mode observation.
            </p>
        </div>
        <div class="option-item" (click)="toggleDropInOut()">
            <div class="checkbox-container">
                <input type="checkbox" [(ngModel)]="isDropInOut" class="custom-checkbox" />
                <label for="dropInOut" class="checkbox-label"> Mode "Drop In/Drop Out" </label>
            </div>
            <p class="option-description">
                Les joueurs qui quittent une partie en mode classique libèrent leur place pour de nouveaux participants.
            </p>
        </div>
        <div class="option-item" (click)="toggleFriendsOnly()">
            <div class="checkbox-container">
                <input type="checkbox" id="friendsOnly" [(ngModel)]="isFriendsOnly" class="custom-checkbox" />
                <label for="friendsOnly" class="checkbox-label"> Partie amis seulement </label>
            </div>
            <p class="option-description">Seuls vos amis peuvent rejoindre cette partie.</p>
        </div>
    </div>

    <div class="button-group">
        <button class="action-button back-button" (click)="onClose()">Retour</button>
        <button class="action-button next-button" (click)="onNext()">Suivant</button>
    </div>
</div>
