<div class="auth-flex-container">
    <div class="auth-container auth-register" *ngIf="mode === 'register' || mode === 'both'">
        <h2>Inscription</h2>
        <input name="registerEmail" [(ngModel)]="registerEmail" 
        placeholder="Email" 
        (keydown.enter)="register()" 
        maxlength="50" 
        (input)="onInput($event, 'registerEmail')" />
        <input
            name="registerPassword"
            [(ngModel)]="registerPassword"
            placeholder="Mot de passe"
            type="password"ss
            maxlength="30"
            (keydown.enter)="register()"
            (input)="onInput($event, 'registerPassword')"
        />
        <input
            name="registerUsername"
            [(ngModel)]="registerUsername"
            placeholder="Pseudonyme"
            maxlength="20"
            (keydown.enter)="register()"
            (input)="onInput($event, 'registerUsername')"
        />
        <div class="avatar-selection">
            <label>Choisissez un avatar :</label>
            <app-profile-picture
                [selectedAvatar]="registerAvatar"
                [customAvatarPreview]="registerCustomAvatarPreview"
                (selectedAvatarChange)="registerAvatar = $event"
                (customAvatarPreviewChange)="registerCustomAvatarPreview = $event"
            ></app-profile-picture>
        </div>
        <button type="button" class="sign-up-button" (click)="register()">S'inscrire</button>
        <div *ngIf="registerMessage" class="message">{{ registerMessage }}</div>
    </div>
    <div class="auth-container auth-login" *ngIf="mode === 'login' || mode === 'both'">
        <h2>Connexion</h2>
        <input name="loginUsername" 
        [(ngModel)]="loginUsername" 
        placeholder="Pseudo"
        maxlength="50" 
        (keydown.enter)="login()"
        (input)="onInput($event, 'loginUsername')" />
        <input
            name="loginPassword"
            [(ngModel)]="loginPassword"
            placeholder="Mot de passe"
            type="password"
            maxlength="30"
            (keydown.enter)="login()"
            (input)="onInput($event, 'loginPassword')"
        />
        <button type="button" class="login-button" (click)="login()">Se connecter</button>
        <div *ngIf="loginMessage" class="message">{{ loginMessage }}</div>
    </div>
</div>
